---
- name: create table {{ table_name }}
  postgresql_table:
    name: "{{ schema }}.{{ policies_table }}"
    db: "{{ hoh_db }}"
    columns:
      - id uuid not null
      - cluster_name varchar({{ cluster_name_length_limit }}) not null
      - leaf_hub_name varchar({{ cluster_name_length_limit }}) not null
      - error {{ status_schema }}.{{ error_type }} not null
      - compliance {{ status_schema }}.{{ compliance_type }} not null
  become: yes
  become_user: postgres

- name: create index on leaf_hub_name and compliance
  postgresql_idx:
    name: "{{ policies_table }}_leaf_hub_non_compliant_idx"
    table: "{{ policies_table }}"
    schema: "{{ status_schema }}"
    db: "{{ hoh_db }}"
    columns: leaf_hub_name, compliance
    cond: compliance = 'non_compliant'
  become: yes
  become_user: postgres

- name: create index on id and compliance
  postgresql_idx:
    name: "{{ policies_table }}_id_non_compliant_idx"
    table: "{{ policies_table }}"
    schema: "{{ status_schema }}"
    db: "{{ hoh_db }}"
    columns: id, compliance
    cond: compliance = 'non_compliant'
  become: yes
  become_user: postgres

- name: create index on leaf_hub_name and cluster_name
  postgresql_idx:
    name: "{{ policies_table }}_leaf_hub_cluster_idx"
    table: "{{ policies_table }}"
    schema: "{{ status_schema }}"
    db: "{{ hoh_db }}"
    columns: leaf_hub_name, cluster_name
  become: yes
  become_user: postgres

- name: create index on id, leaf_hub_name, cluster_name
  postgresql_idx:
    name: "{{ policies_table }}_policy_leaf_hub_cluster_idx"
    table: "{{ policies_table }}"
    schema: "{{ status_schema }}"
    db: "{{ hoh_db }}"
    columns: id, leaf_hub_name, cluster_name
    unique: yes
  become: yes
  become_user: postgres

- name: create index on leaf_hub_name, cluster_name, id
  postgresql_idx:
    name: "{{ policies_table }}_leaf_hub_cluster_idx"
    table: "{{ policies_table }}"
    schema: "{{ status_schema }}"
    db: "{{ hoh_db }}"
    columns: leaf_hub_name, cluster_name, id
    unique: yes
  become: yes
  become_user: postgres
